# Radxa Kernel Configuration for Rock5B
declare -g KERNEL_MAJOR_MINOR="6.1"
declare -g KERNELBRANCH="branch:87ba2c6"
declare -g KERNELSOURCE="https://github.com/radxa/kernel.git"
declare -g KERNELPATCHDIR="rockchip-rk3588-radxa"
declare -g LINUXCONFIG="linux-rockchip-rk3588-vendor-radxa"
# 强制浅克隆加速
declare -g KERNEL_GIT="shallow"
